form { margin: 0px 10px; }

body {
  background-color: #ffff;
  position: relative;
  left: 100px;
}

h2 {
  margin-top: 2px;
  margin-bottom: 2px;
}

.container { 
  text-align: center;
  max-width: 360px; 
  
}

.divider {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 5px;
}

.divider hr {
  margin: 7px 0px;
  width: 35%;
}

.form-group{
  margin: 10px
}

.left { float: left; }

.right { float: right; }
