<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/home/register.css">
	<script src="/js/home/register.js" defer></script>
  <title>Document</title>
</head>
<body>
  <div class="container">
		<div class="row">
			<div class="panel panel-primary">
				<div class="panel-body">
					<form method="POST" action="/login" role="form">
						<div class="form-group">
							<h2>회원 가입</h2>
						</div>
						<hr>
						<div class="form-group">
							<label class="control-label" for="signupName">이름</label>
							<input id="id" type="text" maxlength="50" class="form-control">
						</div>
						<div class="form-group">
							<label class="control-label" for="signupEmail">이메일</label>
							<input id="email" type="email" maxlength="50" class="form-control">
						</div>
						<div class="form-group">
							<label class="control-label" for="signupEmailagain">나이</label>
							<input id="age" class="form-control">
						</div>
						<div class="form-group">
							<label class="control-label" for="signupPassword">Password</label>
							<input id="pswd" type="password" maxlength="25" class="form-control" placeholder="at least 6 characters" length="40">
						</div>
						<div class="form-group">
							<label class="control-label" for="signupPasswordagain">Password again</label>
							<input id="confrim_pswd" type="password" maxlength="25" class="form-control">
						</div>
						<div class="form-group">
							<button id="submit_login_btn" type="submit" class="btn btn-info btn-block">회원가입</button>
						</div>
						<hr>
						<p></p>이미 회원이신가요? <a href="/login">로그인</a></p>
					</form>
				</div>
			</div>
		</div>
	</div>
  
</body>
</html>